.slick-carousel-sl__wrapper {
  background-color: $gray-300;
  color: $black;
}

.slick-carousel-sl a {
  display: block;

  font-size: 18px;
  line-height: 26px;
  padding: 20px 30px;
  margin-left: 10px;
  background-color: #c69500;
}
