.page-header__logo {
  margin: 0;
  padding: 20px 0;
}

.page-header__container-wrap {
  padding: 0;
}

.page-header__brand {
  display: none;
}

@include desktop-width {
  .page-header__brand {
    display: block;
  }
}
