@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-black.woff") format("woff"),
    url("../fonts/montserrat/montserrat-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-extrabold.woff") format("woff"),
    url("../fonts/montserrat/montserrat-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-bold.woff") format("woff"),
    url("../fonts/montserrat/montserrat-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-semibold.woff") format("woff"),
    url("../fonts/montserrat/montserrat-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-medium.woff") format("woff"),
    url("../fonts/montserrat/montserrat-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat/montserrat-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-light.woff") format("woff"),
    url("../fonts/montserrat/montserrat-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/montserrat-extralight.woff") format("woff"),
    url("../fonts/montserrat/montserrat-extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-light-webfont.woff") format("woff"),
    url("../fonts/rajdhani-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-regular-webfont.woff") format("woff"),
    url("../fonts/rajdhani-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-medium-webfont.woff") format("woff"),
    url("../fonts/rajdhani-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-semibold-webfont.woff") format("woff"),
    url("../fonts/rajdhani-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/rajdhani-bold-webfont.woff") format("woff"),
    url("../fonts/rajdhani-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Merriweather */
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-black.woff") format("woff"),
    url("../fonts/merriweather/merriweather-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-bold.woff") format("woff"),
    url("../fonts/merriweather/merriweather-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-regular.woff") format("woff"),
    url("../fonts/merriweather/merriweather-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather/merriweather-light.woff") format("woff"),
    url("../fonts/merriweather/merriweather-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/lobster.woff") format("woff"),
    url("../fonts/lobster.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
